/* accomodate every size screen by default */
/* tested on chrome, crome mobile, safari, firefox, edge */
/*

Declare Boxever Template Variables
[[Font | enum(Arial,Arial Narrow,Brush Script MT,Calibri,Cambria,Candara,Copperplate,Courier,Courier New,Didot,Garamond,Geneva,Helvetica,Lucida Bright,Monaco,Optima,Perpetua,Times,Times New Roman,Verdana) |Optima| {group: General}]];
[[X Color | colour | #f88  | {group: Closing Button Configuration}]]
*/

/* The following experience is populated with a unique variant identifier: { { ref } }
 when deployed to ensure CSS does not impact styling of other elements. */

/* experience container */
#bx-{{ref}} #bx-sidebar {
    position: fixed;
    top: 0;
    right: -1000px;
    height: 100%;
    width: 300px;
    background-color: [[ BackgroundColor | colour | #eeeeee| {  group: General } ]];
    z-index: 99999;
    transition: right 1.6s ease-in-out;
    box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0,0,0,.1);
    font-family: [[Font]];
    max-width: 70%;
}

/* experience container positon (when open) */
#bx-{{ref}} #bx-sidebar.open {
    right: 0;
}

/* image container */
#bx-{{ref}} #bx-sidebar .bx-sidebar__img-container {
    width: 100%;
    height: 300px;
}

/* image styling */
#bx-{{ref}} #bx-sidebar .bx-sidebar__img-container .img-container__image {
    margin: 0;
    background: #dcdcdc;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-image: url("[[Image URL | string |  | {group: General} ]]");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* title, text and cta container */
#bx-{{ref}} #bx-sidebar .bx-sidebar__body {
    padding: 30px 24px;
}

/* Title */
  #bx-{{ref}} #bx-sidebar .bx-sidebar__body h3 {
    margin-top: 28px;
    line-height: 1.5;
    margin: 0;
    font-size: [[Title size in px | number | 28 | { group: Text Configuration } ]]px;
    font-weight: bold;
    color: [[ Title-color | colour | #444 | {  group: Text Configuration } ]];
    font-family: [[Font]];

}

/* description */
 #bx-{{ref}} #bx-sidebar .bx-sidebar__body p {
    padding: 12px 0;
    margin: 0;
    font-size: [[Description size in px | number | 22 | { group: Text Configuration } ]]px;
    margin: auto;
    line-height: 28px;
    color: [[ Text-color | colour | #444 | {  group: Text Configuration } ]];

}

/* CTA */
 #bx-{{ref}} #bx-sidebar .body__button {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    color: [[ Button Text Color | colour | #fff | {  group: Button Configuration } ]];
    background-color: [[ Button Color | colour | #4caf50|{  group: Button Configuration } ]];
    font-size: [[Button Text Sixe in px | number | 16 | { group: Button Configuration } ]]px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
/* CTA on mouse over */
 #bx-{{ref}} #bx-sidebar .body__button:hover {
    transform: scale(1.05);
}


/* close button */
 #bx-{{ref}} .bx__btn-close__icon {
    background: [[ X Background Color | colour | #fff|{  group: Closing Button Configuration } ]];
    top: 20px;  
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius:15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* close button right side of X  */
 #bx-{{ref}} .bx__btn-close__icon:after {
    background: transparent;
    content: "";
    height: 20px;
    border-left: 2px solid [[ X Color ]];
    position: absolute;
    margin: auto;
    transform: rotate(45deg);
    left:14px;
}
/* close button right side of X  */
 #bx-{{ref}} .bx__btn-close__icon:before {
    background: transparent;
    content: "";
    height: 20px;
    border-left: 2px solid [[ X Color ]];
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
    left:14px;
}

/* mobile styling */
@media only screen and (max-width: 400px) {
     #bx-{{ref}} #bx-sidebar .bx-sidebar__body h3 {
        line-height: 1.1;
    }
     #bx-{{ref}} #bx-sidebar .bx-sidebar__img-container{
        height: 200px;
    }
     #bx-{{ref}} #bx-sidebar .bx-sidebar__body p {
        padding: 10px 0;
        margin: 0;
        font-size: [[Description size in px (on mobile) | number | 14 | { group: Text Configuration } ]]px;
    }
}
