/* accomodate every size screen by default */
/* tested on crome, crome mobile, safari, firefox, edge */
/*
Declare variables
[[Font | enum(Arial,Arial Narrow,Brush Script MT,Calibri,Cambria,Candara,Copperplate,Courier,Courier New,Didot,Garamond,Geneva,Helvetica,Lucida Bright,Monaco,Optima,Perpetua,Times,Times New Roman,Verdana) |Calibri| {group:0 General}]];
[[X Color | colour | #f88  | {group: 3 Closing Button Configuration}]]
[[Text Color | colour |#444| { group: 1 Text Configuration }]];
[[ Background Color | colour | #eeeeee| { required: true, group: 0 General } ]]
*/

/* Hide original top banner (in case it"s present) */
.operational-updates {
    display: none !important;
}

/* Add this clase when "click" close icon */
.bx_TopBanner--hide {
    display: none !important;
}

/* Push content down to allocate top banner */
body.show-TopBanner {
    margin-top: 71px !important;
}

/* Banner styling */
#bx-{{ref}} #bx_TopBanner {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(9,9,9,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(9,9,9,0.4);
    box-shadow: 0px 0px 4px 0px rgba(9,9,9,0.4);
    min-width: 330px;
}

#bx-{{ref}} #bx_TopBanner {
    position: fixed;
    z-index: 99998;
    height: 71px;
    width: 100vw;
    [[Position | enum(Top, Bottom)| Top | { required: true, group: 0 General } ]]: 0;
    background: [[ Background Color ]];
    font-family: [[ Font ]];
    width: 100vw;
    overflow: hidden;
    display: flex;
}

#bx-{{ref}} #bx_TopBanner .bx_TopBanner__banner {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-basis: 90%;
    max-width: 90%;
}

#bx-{{ref}} #bx_TopBanner .bx_TopBanner__p--span {
    color: [[Text Color]];
    font-size: [[ Title Text Font Size | number | 18 | { group: 1 Text Configuration }]]px;
    flex-basis: 400px;
    flex-grow: 2;
    text-align: center;
    margin: auto;
}

#bx-{{ref}} #bx_TopBanner .bx_TopBanner__banner .bx-email_section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-width: 300px;
    margin: auto;
    max-height: 30px; 
    width: 300px; 
}
#bx-{{ref}} #bx_TopBanner .bx_TopBanner__banner .bx-email_section .bx-modal_button-wrapper{
    min-width: 170px; 
}

#bx-{{ref}} #bx_TopBanner .bx_TopBanner__p--button {
    border-radius: 4px;
    display: inline-block;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    color: [[ Button Text Color | colour | #fff | { required: true, group: 2 Button Configuration } ]];
    background-color: [[ Button Color | colour | #4caf50|{ required: true, group: 2 Button Configuration } ]];
    font-size: [[Button Text Sixe in px | number | 16 | { group: 2 Button Configuration } ]]px;
    height:30px;
    padding: 0px
}

#bx-{{ref}} #bx_TopBanner .bx_TopBanner__p--button:hover {
    transform: scale(1.1);
}

#bx-{{ref}} #bx_TopBanner .bx_TopBanner__p--button:focus {
    /* border: none; */
    outline: 0;
    box-shadow: none!important;
}

#bx-{{ref}} #bx_TopBanner .bx-email_input {
    color: [[Text Color]];
    font-size: 18px;
    border-radius: 2px;
    background-color: #fff;
    font-family: [[Font]];
    border: none;
    padding-left: 10px;
    max-width: 150px;
    margin-left: 18px;
}


/* dark background */
#bx-{{ref}} #bx-thank_you_modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

/* modal General */
#bx-{{ref}} #bx-thank_you_modal .bx-modal_content {
    display: flex;
    flex-direction: column;
    position:relative;
    background: [[ Background Color ]];
    margin: 20% auto;
    box-shadow: 0 2px 10px 6px rgba(0,0,0,0.3);
    width: [[ Pop-up Size | enum(30%, 40%, 50%,75%) | 40%| {group: 5 Thank you message}]];
    min-height: 230px;
    border: none;
    padding: 20px 38px;
    border-radius : [[ Pop-up Border Radius (in PX) | number | 5 | {group: 5 Thank you message}]]px;
    min-width: 300px;
    font-family: [[ Font ]]; 
}

/* Title */
#bx-{{ref}} #bx-thank_you_modal .bx-modal_content h3 {
    font-size: [[ POP-UP Title size in px | number | 28 | {  group: 5 Thank you message} ]]px;
    font-weight: bold;
    margin: auto;
    color: [[ Text Color]];
}

/* text */
#bx-{{ref}} #bx-thank_you_modal .bx-modal_content p {
    text-align: center;
    padding: 12px 0;
    margin: 0;
    font-size: [[ Pop-Up Description size in px | number | 22 | { group: 5 Thank you message} ]]px;
    margin: auto;
    line-height: 28px;
    color: [[ Text Color]];
}

/* close button */
#bx-{{ref}} .bx__btn-close__icon {
    background: [[ X Background Color | colour | #fff|{ required: true, group: 3 Closing Button Configuration } ]];
    top: 20px; 
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius:15px;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#bx-{{ref}} .bx__btn-close__icon:after {
    background: transparent;
    content: "";
    height: 20px;
    border-left: 2px solid [[ X Color ]];
    position: absolute;
    margin: auto;
    transform: rotate(45deg);
    left:14px;
}

#bx-{{ref}} .bx__btn-close__icon:before {
    background: transparent;
    content: "";
    height: 20px;
    border-left: 2px solid [[ X Color ]];
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
    left:14px;
}

@media only screen and (max-width: 800px) {
    body.show-TopBanner {
        margin-top: 100px !important;
    }
    #bx-{{ref}} #bx_TopBanner{
        height: 100px;
    }
    #bx-{{ref}} #bx_TopBanner .bx_TopBanner__banner {
      flex-direction: column;
    }
    #bx-{{ref}} #bx_TopBanner .bx_TopBanner__banner .bx-email_section{
        margin-bottom: 5px;
    }
    #bx-{{ref}} #bx_TopBanner .bx_TopBanner__p--span {
        padding: 10px;
    }
}
