/* accomodate every size screen by default */
/* tested on chrome, crome mobile, safari, firefox, edge */
/*
Declare Sitecore CDP Template Variables
[[Font | enum(Arial,Arial Narrow,Brush Script MT,Calibri,Cambria,Candara,Copperplate,Courier,Courier New,Didot,Garamond,Geneva,Helvetica,Lucida Bright,Monaco,Optima,Perpetua,Times,Times New Roman,Verdana) | Arial|{group:  General}]];
[[Text Color | colour | #4D4D4D | {group: Text Configuration }]]
[[X Color | colour | #f88  | {group: Closing Button Configuration}]]
[[Background Color| colour | #eee | {group: General}]]
*/

/* The following experience is populated with a unique variant identifier: { { ref } }
 when deployed to ensure CSS does not impact styling of other elements. */


/* experience container styling */
#bx-{{ref}} #sc-transition-card {
    position: fixed;
    width: [[Pop-up size (width) in percentage | enum(30, 40, 50)| 30 | {group: General}]]%;
    height: [[Pop-up size (height) in px | enum(300, 400, 500)| 400 | {group: General}]]px;
    [[ Position | enum(Left, Right)| Right|{  group: General }]]: 5px;
    bottom: -1000px;
    z-index: 999999;
    transition: bottom .6s ease-in-out;
    margin-bottom: 0;
    border-radius: [[ Pop-up Border-radius in px | number| 5|{ group: General }]]px;
    background: [[Background Color]];
    overflow: hidden;
    box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0,0,0,.1);
    max-width: 99%;
    min-width: 300px;
    display: flex;
    flex-direction:column;
}

/* position of the corner from the bottom when showed */
#bx-{{ref}} #sc-transition-card.open {
    bottom: 5px;
}

/* image container  */
#bx-{{ref}} .img-container {
    width: 100%;
    flex-basis: 40%;
    max-height: 50%;
}

/* the image to display on top of the experience */
#bx-{{ref}} .sc-image {
    margin: 0;
    background: [[Background Color]];
    height: 100%;
    background-image: url("[[Image URL | string || {group: General, required:true}]]");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* text and buttons container */
#bx-{{ref}} .sc-transition-card__body {
    padding: 0 16px;
    flex-basis: 60%;
    overflow: hidden;
    color: [[Text Color]];
    font-family: [[Font]];
    text-align: center;
}

/* Title */
#bx-{{ref}} .sc-transition-card__body h3 {
    font-size: [[ Title size in px | number | 28 | { group: Text Configuration } ]]px;
    font-weight: bold;
    margin: 0;
    padding: 12px 0px 0px ;
}

/* Description text */
#bx-{{ref}} .sc-transition-card__body p {
    padding: 12px 0;
    margin: 0;
    font-size: [[ Description size in px | number | 16 | { group: Text Configuration } ]]px;
    line-height: 28px;
    text-align: center;
    color: [[Text Color]];
    font-family: [[Font]];

}

/* buttons container */
#bx-{{ref}} .sc-options-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

/* basic style for both buttons */
#bx-{{ref}} .options-btn {
    display: inline-block;
    border: 1px solid #C1C9D0;
    border-radius: 4px;
    color: [[ Dismiss Button Text Color | colour | #C1C9D0| { required: true, group: Button Configuration } ]];
    background-color: [[Background Color]];
    padding: 10px 30px;
    cursor: pointer;
    margin-right:10px;

}

/* CTA button styling */
#bx-{{ref}} #CTA-accept {
    background-color: [[ Accept Button Color | colour | #4caf50|{  group: Button Configuration } ]];
    border:none;
    margin-right:0px;
    color: [[ Accept Button Text Color | colour | #fff | {  group: Button Configuration } ]];
}

/* buttons on hover */
#bx-{{ref}} .options-btn:hover{
    transform: scale(1.1);
    text-decoration: none;
}

/* close button */
#bx-{{ref}} .sc-btn-close{
    background: [[ X Background Color | colour | #fff|{ group: Closing Button Configuration } ]];
    top: 12px;  
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius:15px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* close button right side of X  */
#bx-{{ref}} .sc-btn-close:after {
    background: transparent;
    content: "";
    height: 20px;
    border-left: 2px solid [[ X Color ]];
    position: absolute;
    margin: auto;
    transform: rotate(45deg);
    left:14px;
}
/* close button right side of X  */
#bx-{{ref}} .sc-btn-close:before {
    background: transparent;
    content: "";
    height: 20px;
    border-left: 2px solid [[ X Color ]];
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
    left:14px;
}