/* accomodate every size screen by default */
/* tested on crome, crome mobile, safari, firefox, edge */

/*
Declare variables
[[Font | enum(Arial,Arial Narrow,Brush Script MT,Calibri,Cambria,Candara,Copperplate,Courier,Courier New,Didot,Garamond,Geneva,Helvetica,Lucida Bright,Monaco,Optima,Perpetua,Times,Times New Roman,Verdana) |Calibri| {group:0 General}]];
[[X Color | colour | #f88  | {group: 3 Closing Button Configuration}]]
*/

/* Hide original top banner (in case it"s present) */
.operational-updates {
    display: none !important;
}

/* Add this clase when "click" close icon */
.bx_TopBanner--hide {
    display: none !important;
}

/* Push content down to allocate top banner */
body.show-TopBanner {
    margin-top: 71px !important;
}

/* Banner styling */
#bx_TopBanner {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(9,9,9,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(9,9,9,0.4);
    box-shadow: 0px 0px 4px 0px rgba(9,9,9,0.4);
    min-width: 330px;
}

#bx_TopBanner {
    position: fixed;
    z-index: 99998;
    height: 71px;
    width: 100vw;
    [[Position | enum(Top, Bottom)| Top | { required: true, group: 0 General } ]]: 0;
    background: [[ Bar Background Color | colour | #eeeeee| { required: true, group: 0 General } ]];
    font-family: [[ Font ]]
}

#bx_TopBanner .bx_TopBanner__banner {
    padding-left: 50px;
    padding-right: 50px;
    color: #000;
    margin: 0 auto;
    position: relative;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bx_TopBanner .bx_TopBanner__p {
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    width: 100%;
    line-height: 10px;
}

#bx_TopBanner .bx_TopBanner__p--span {
    color: [[Title Text Colour | colour |#444| { group: 1 Text Configuration }]];
    font-size: [[ Title Text Font Size | number | 18 | { group: 1 Text Configuration }]]px;
    line-height: 16.1px;
    font-weight: 500;
    padding-right: 40px;
}

#bx_TopBanner .bx_TopBanner__p--button {
    border-radius: 4px;
    color: #fff;
    padding: 10px 23px;
    display: inline-block;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-right: 10px;
    color: [[ Button Text Color | colour | #fff | { required: true, group: 2 Button Configuration } ]];
    background-color: [[ Button Color | colour | #4caf50|{ required: true, group: 2 Button Configuration } ]];
    font-size: [[Button Text Sixe in px | number | 16 | { group: 2 Button Configuration } ]]px;
}

#bx_TopBanner .bx_TopBanner__p--button:hover {
    box-shadow: 3px 4.9px 16px rgba(40,40,40,0.6);
    letter-spacing:2px;
    transform: scale(1.03);
}

.bx__btn-close:hover,
.bx__btn-close:focus,
.bx__btn-close:active {
    background-color: transparent;
    box-shadow: none;
    color: #333;
    text-decoration: none !important;
    cursor: pointer;
}

/* close button */
.bx__btn-close__icon {
    background: [[ X Background Color | colour | #fff|{ required: true, group: 3 Closing Button Configuration } ]];
    top: 30%;  /* special size for alert bar */
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius:15px;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bx__btn-close__icon:after {
    background: transparent;
    content: "";
    height: 20px;
    border-left: 2px solid [[ X Color ]];
    position: absolute;
    margin: auto;
    transform: rotate(45deg);
}

.bx__btn-close__icon:before {
    background: transparent;
    content: "";
    height: 20px;
    border-left: 2px solid [[ X Color ]];
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
}

@media only screen and (max-width: 600px) {
  #bx_TopBanner .bx_TopBanner__banner {
    height: 100%;
    justify-content: space-around;
    padding: 20px 0;
    max-width: 99%;
  }

  #bx_TopBanner .bx_TopBanner__p--span {
    padding-left: 10px;
    line-height: 1.15;
    margin-bottom: 6px;
  }

  #bx_TopBanner .bx_TopBanner__p {
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: left;
  }
  
  #bx_TopBanner {
    height: 110px;
  }
  
  body.show-TopBanner {
    margin-top: 110px !important;
  }

  .bx__btn-close__icon {
      top: 10px;
  }

}




